BW_RMS_EnterprisePO/SharedResources/Schemas/PO/PODesc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/PODesc/v1" xmlns:ExtOfPODesc="http://www.oracle.com/retail/integration/custom/bo/ExtOfPODesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/PODesc/v1" version="1.0">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:import namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfPODesc/v1" schemaLocation="Ext/v1/ExtOfPODesc.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:element name="POVirtualDtl">
        <retailDoc:annotation>
<retailDoc:documentation>Description is not available.</retailDoc:documentation>
</retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="location_type" type="varchar21">
                    <retailDoc:annotation>
<retailDoc:documentation>This field contains the type of location in the location field.  Valid values are S - Physical Store, V - Virtual Store, W  Warehouse</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="location" type="number10">
                    <retailDoc:annotation>
<retailDoc:documentation>This field contains the location all items on the order will be delivered to if populated. (i.e. it will mean a single location order)</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="qty_ordered" type="number12_4">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the total number of items ordered  for the SKU to this location.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PODtl">
        <retailDoc:annotation>
<retailDoc:documentation>Description is not available.</retailDoc:documentation>
</retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item" type="varchar225">
                    <retailDoc:annotation>
<retailDoc:documentation>Description is not available.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ref_item" type="varchar225">
                    <retailDoc:annotation>
<retailDoc:documentation>Unique alphanumeric value to identify the reference item.  Not used in RWMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="physical_location_type" type="varchar21">
                    <retailDoc:annotation>
<retailDoc:documentation>This field contains the type of location in the location field.  Valid values are 'S' -Store, 'W' -Warehouse</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="physical_location" type="number10">
                    <retailDoc:annotation>
<retailDoc:documentation>This field contains the actual physical location that item will be ordered to.  This field may contain a store or a physical warehouse.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
				<xs:element minOccurs="0" name="physical_store_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates the store type of the physical_location store. Only populated if physical_location_type is 'S'.
                           Valid values are: 'C' = company store, 'F' = franchise store.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="physical_stockholding_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates if the physical_location store is stockholding or not. Only populated if physical_location_type is 'S'.
                           Valid values are: 'Y' = yes, 'N' = no.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="physical_qty_ordered" type="number12_4">
                    <retailDoc:annotation>
<retailDoc:documentation>Description is not available.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="transaction_uom" type="varchar24">
                    <retailDoc:annotation>
<retailDoc:documentation>Holds the original transaction unit of measure to 
                            be passed on to the store system. It is only used for customer direct 
                            orders coming from the order management system. All quantities on the 
                            payload are expressed in item.s standard unit of measure.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="unit_cost" type="number20_4">
                    <retailDoc:annotation>
<retailDoc:documentation>This field contains the unit cost for the Item/Location on the order, including discounts (deal/bracket/allowance), but not landed cost components. This field is stored in order currency.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="origin_country_id" type="varchar23">
                    <retailDoc:annotation>
<retailDoc:documentation>The identifier of the country into which the items on the order are being imported.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="supp_pack_size" type="number12_4">
                    <retailDoc:annotation>
<retailDoc:documentation>Supplier pack size for this order/item.  Description is not available.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="earliest_ship_date" type="xs:dateTime">
                    <retailDoc:annotation>
<retailDoc:documentation>The date before which the item can not be shipped by the supplier.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="latest_ship_date" type="xs:dateTime">
                    <retailDoc:annotation>
<retailDoc:documentation>The date after which the item can not be shipped by the supplier.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="pickup_loc" type="varchar2250">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the location at which the order will be picked up, if the order is a 'Pickup' order.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="pickup_no" type="varchar225">
                    <retailDoc:annotation>
<retailDoc:documentation>Not used in RWMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="packing_method" type="varchar26">
                    <retailDoc:annotation>
<retailDoc:documentation>This field indicates whether the packing method of the item  in the container is flat or hanging.  Valid values for this  field are stored in the 'PKMT' code.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="round_lvl" type="varchar26">
                    <retailDoc:annotation>
<retailDoc:documentation>This column will be used to determine how order quantities will be rounded to Case, Layer and Pallet.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="door_ind" type="varchar21">
                    <retailDoc:annotation>
<retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="priority_level" type="number1">
                    <retailDoc:annotation>
<retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="new_item" type="varchar21">
                    <retailDoc:annotation>
<retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="quarantine" type="varchar21">
                    <retailDoc:annotation>
<retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="rcvd_unit_qty" type="number12_4">
                    <retailDoc:annotation>
<retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="tsf_po_link_id" type="number12">
                    <retailDoc:annotation>
<retailDoc:documentation>A reference number to link  the item on the transfer to any purchase orders that have been created to allow the from location (ie warehouse) on the transfer to fulfill the transfer quantity to the to location (ie store) on the transfer.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="POVirtualDtl">
                    <retailDoc:annotation>
<retailDoc:documentation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="cost_source" type="varchar24">
                    <retailDoc:annotation>
<retailDoc:documentation>Indicates the basis for the cost of the Item/Location on the order. Valid values include 'NORM' - Normal Supplier Cost, 'DEAL' - Cost Based on a Deal, 'BRKT' - Cost Based on a Bracket, 'MANL' - User Specified or Manual Override Cost, 'CONT' - Costs retrieved from the Contract, 'ALLW' - Cost Based on an Allowance</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="est_in_stock_date" type="xs:dateTime">
                    <retailDoc:annotation>
<retailDoc:documentation>Date that the item on the PO is expected to be available to ship from the PO location to another location.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfPODesc:ExtOfPODtl">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize ExtOfPODtl.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="ExtOfPODesc:ExtOfPOPackDtl">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize ExtOfPOPackDtl.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PODesc">
        <retailDoc:annotation>
<retailDoc:documentation>Description is not available.</retailDoc:documentation>
</retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="doc_type" type="varchar21">
                    <retailDoc:annotation>
<retailDoc:documentation>Indicates the type of document this message is for.  Valid value is 'P' for purchase order.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="order_no" type="varchar212">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the number to uniquely identify an order within the system.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="order_type" type="varchar29">
                    <retailDoc:annotation>
<retailDoc:documentation>Indicates the type of order and which Open To Buy bucket will be updated. Valid values include: 'N/B' - Non Basic 'ARB' - Automatic Reorder of Basic 'BRB' - Buyer Reorder of Basic.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="order_type_desc" type="varchar2250">
                    <retailDoc:annotation>
<retailDoc:documentation>The description for the order type.  Not used in RWMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="dept" type="number4">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the department number for orders limited to a single department and will be Null for orders involving items in more than one department.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="dept_name" type="varchar2120">
                    <retailDoc:annotation>
<retailDoc:documentation>Not used in RWMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="buyer" type="number4">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the number associated with the buyer for the order.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="buyer_name" type="varchar2120">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the name of the authorized buyer.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="supplier" type="varchar210">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the vendor number who will provide the merchandise specified in the order.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="promotion" type="number10">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the ad number associated with the order to provide a link between the order dialog and the promotions dialog.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="prom_desc" type="varchar2160">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains a description of the promotion.  This value comes from RPM.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="qc_ind" type="varchar21">
                    <retailDoc:annotation>
<retailDoc:documentation>Determines whether or not quality control will be required when items for this order are received. Valid values are 'Y' and 'N'.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="not_before_date" type="xs:dateTime">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the first date that delivery of the order will be accepted.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="not_after_date" type="xs:dateTime">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the last date that delivery of the order will be accepted.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="otb_eow_date" type="xs:dateTime">
                    <retailDoc:annotation>
<retailDoc:documentation>This field contains the OTB budget bucket the order amount should be placed into.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="earliest_ship_date" type="xs:dateTime">
                    <retailDoc:annotation>
<retailDoc:documentation>The date before which the items on the purchase order can not be shipped by the supplier.  Represents the earliest earliest ship date of all the items on the order.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="latest_ship_date" type="xs:dateTime">
                    <retailDoc:annotation>
<retailDoc:documentation>The date after which the items on the purchase order can not be shipped by the supplier.  Represents the greatest latest ship date of all the items on the order.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="close_date" type="xs:dateTime">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the date when the order is closed.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="terms" type="varchar215">
                    <retailDoc:annotation>
<retailDoc:documentation>Indicator identifying the sales terms for the order. These terms specify when payment is due and if any discounts exist for early payment.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="terms_code" type="varchar250">
                    <retailDoc:annotation>
<retailDoc:documentation>Indicates the Alphanumeric representation of Term Name which acts as the Term code in Oracle Financials.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="freight_terms" type="varchar230">
                    <retailDoc:annotation>
<retailDoc:documentation>Description is not available.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="cust_order" type="varchar21">
                    <retailDoc:annotation>
<retailDoc:documentation>This field indicates whether or not the order is generated for a customer.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="payment_method" type="varchar26">
                    <retailDoc:annotation>
<retailDoc:documentation>Indicates how the purchase order will be paid. Valid options are LC (Letter of Credit), WT (Wire Transfer), OA (Open Account).</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="payment_method_desc" type="varchar2250">
                    <retailDoc:annotation>
<retailDoc:documentation>Indicates how the purchase order will be paid. Valid options are 'LC' - Letter of Credit, 'WT' - Wire Transfer, 'OA' - Open Account.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="backhaul_type" type="varchar26">
                    <retailDoc:annotation>
<retailDoc:documentation>This field contains the type of backhaul allowance that will be applied to the order. Some examples are 'C'alculated or 'F'lat rate</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="backhaul_type_desc" type="varchar2250">
                    <retailDoc:annotation>
<retailDoc:documentation>The description of the backhaul type. Not used in RWMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="backhaul_allowance" type="number20_4">
                    <retailDoc:annotation>
<retailDoc:documentation>This field contains the backhaul allowance value.  Not used in RWMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ship_method" type="varchar26">
                    <retailDoc:annotation>
<retailDoc:documentation>The method used to ship the items on the purchase order from the country of origin to the country of import.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ship_method_desc" type="varchar2250">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the description for the shipping method.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="purchase_type" type="varchar26">
                    <retailDoc:annotation>
<retailDoc:documentation>Indicates what's included in the supplier's cost of the item. Valid values include C (Cost), CI (Cost and Insurance), CIF (Cost, Insurance and Freight), FOB (Free on Board).</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="purchase_type_desc" type="varchar2250">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the description for the purchase type.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="status" type="varchar21">
                    <retailDoc:annotation>
<retailDoc:documentation>Indicates the current status of the order. Valid values include 'W' - Worksheet, 'S' - Submitted, 'A' - Approved, 'C' - Closed</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ship_pay_method" type="varchar22">
                    <retailDoc:annotation>
<retailDoc:documentation>Code indicating the payment terms for freight charges associated with the order.  Valid values inlude: 'CC' - Collect, 'CF' - Collect Freight Credited Back to Customer, 'DF' - Defined by Buyer and Seller, 'MX' - Mixed, 'PC' - Prepaid but Charged to Customer, 'PO' - Prepaid Only, 'PP' - Prepaid by Seller.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ship_pay_method_desc" type="varchar2250">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the description of the given shipment payment method.  Not used in RWMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="fob_trans_res" type="varchar22">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the code indicating the type of the location that is responsible for the transportation of the order.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="fob_trans_res_code_desc" type="varchar2250">
                    <retailDoc:annotation>
<retailDoc:documentation>Not used in RWMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="fob_trans_res_desc" type="varchar2250">
                    <retailDoc:annotation>
<retailDoc:documentation>User entered field describing the code for the location responsible for the transportation of the order.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="fob_title_pass" type="varchar22">
                    <retailDoc:annotation>
<retailDoc:documentation>Indicator used to determine where the title for goods is passed from the vendor to the purchaser. Examples include city, factory, or origin.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="fob_title_pass_code_desc" type="varchar2250">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the description for fob_title_pass_code.  Not used in RWMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="fob_title_pass_desc" type="varchar2250">
                    <retailDoc:annotation>
<retailDoc:documentation>User entered field describing the code where the title of the merchandise is to be passed. Could be a city name, factory name, or place of origin.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="vendor_order_no" type="varchar215">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the vendor's unique identifying number for an order. These orders may have originated by the vendor through the EDI process or this number can be associated to a Retek order when the order is created on-line.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="exchange_rate" type="number20_10">
                    <retailDoc:annotation>
<retailDoc:documentation>The rate of exchange used for the purchase order between the order and primary currencies.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="factory" type="varchar210">
                    <retailDoc:annotation>
<retailDoc:documentation>The factory at which the items on the purchase order are made. This field is only available when the system is running Import functionality.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="factory_desc" type="varchar2240">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the description of the factory.  Not used in RWMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="agent" type="varchar210">
                    <retailDoc:annotation>
<retailDoc:documentation>The agent that is used in the purchase of the items on the purchase order. This field is only available when the system is running Import functionality.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="agent_desc" type="varchar2240">
                    <retailDoc:annotation>
<retailDoc:documentation>Not used in RWMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="discharge_port" type="varchar25">
                    <retailDoc:annotation>
<retailDoc:documentation>The port at which the items on the purchase order will enter the country of import. This field is only available when the system is running Import functionality.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="discharge_port_desc" type="varchar2150">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the description of the discharge port.  Not used in RWMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="lading_port" type="varchar25">
                    <retailDoc:annotation>
<retailDoc:documentation>The port from which the items on the purchase order are shipped. This field is only available when the system is running Import functionality.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="lading_port_desc" type="varchar2150">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the description of the lading port.  Not used in RWMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="bill_to_id" type="varchar25">
                    <retailDoc:annotation>
<retailDoc:documentation>Indicates the ID of the bill-to-address, which will be stored on the OUTLOC table under the outloc_type 'BT'.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="freight_contract_no" type="varchar210">
                    <retailDoc:annotation>
<retailDoc:documentation>The number of the contract with a shipper that will give specific freight rates. This field is only available when the system is running Import functionality.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="po_type" type="varchar24">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the value associated with the PO_TYPE for the order.  Not used in RWMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="po_type_desc" type="varchar2120">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains a description for the specific PO_TYPE.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="pre_mark_ind" type="varchar21">
                    <retailDoc:annotation>
<retailDoc:documentation>This field indicated whether or not a supplier has agreed to break an order into separate boxes so that the boxes can be sent directly to stores.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="currency_code" type="varchar23">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the currency code for the order. When creating an order within Retek, this field will always default to the currency of the supplier, but it can be overwritten.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="contract_no" type="number6">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the contract number associated with this order.  Not used in RWMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="pickup_loc" type="varchar2250">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the location at which the order will be picked up, if the order is a 'Pickup' order.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="pickup_no" type="varchar225">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the reference number for the Pickup order.  Not used in RWMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="pickup_date" type="xs:dateTime">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the date when the order can be picked up from the Supplier.  This field is only required if the Purchase Type of the order is 'Pickup'.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="app_datetime" type="xs:dateTime">
                    <retailDoc:annotation>
<retailDoc:documentation>This column will hold the date and time of the receiving appointment at the warehouse.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="comment_desc" type="varchar22000">
                    <retailDoc:annotation>
<retailDoc:documentation>Miscellaneous comments attached to the purchase order.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="cust_order_nbr" type="varchar248">
                    <retailDoc:annotation>
<retailDoc:documentation>This field holds the master customer order number from OMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="fulfill_order_nbr" type="varchar248">
                    <retailDoc:annotation>
<retailDoc:documentation>This field holds the number from OMS related to the fulfillment details.  
                        	One or more fulfillment orders could relate back to a single customer order in OMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfPODesc:ExtOfPODesc">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize ExtOfPODesc.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="PODtl">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="number12_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number20_10">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 20 and fraction digit count of 10.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="20"/>
            <xs:fractionDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar225">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2250">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 250 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="250"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar25">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 5 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar210">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2160">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 160 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="160"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar22">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 2 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar22000">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 2000 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar230">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number6">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 6.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar23">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 3 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2120">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 120 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="120"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar215">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 15 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar26">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar24">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar240">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 40 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar245">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 45 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="45"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number20">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 20.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number20_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 20 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="20"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar250">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 50 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number10">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number1">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 1.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2150">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 150 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="150"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2240">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 240 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="240"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar29">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 9 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="varchar212">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 12 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar248">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 48 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="48"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number12">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 12.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="12"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
